body{
 
    padding-left: 25px;
 
}
 
.add-button{
    position: fixed; /*Hace que el boton quede encima del contenido*/
 
 
    bottom: 30px; /*Separacion del boton con el bordo inferior*/
 
    right: 35px; /*Separacion desde la derecha*/
 
    background-color: rgb(47, 92, 128);
 
    border: none; /*Para que el boton no tenga bordes*/
 
    border-radius: 50%; /*Para hacer que el boton quede redondo*/
 
    width: 70px;
    height: 70px; /*Para que el boton quede simetrico*/
 
    display: flex; /*Activamos flexbox para centrar*/
   
    justify-content: center; /*Alineamos horizontal*/
 
    align-items: center; /*Alineacion vertical*/
 
    box-shadow: 0 2px 5px black;
 
    z-index: 1001; /*Para que el boton siempre quede encima de todo*/
 
    transition: transform 0.4s; /**/
 
}
 
.add-button:hover{
    transform: scale(1.1);
}

.tabla-scroll{
    overflow-x: auto;
}